@import "~bootstrap/dist/css/bootstrap.css";

h1{
    color: red;
    text-align: center;
}

#main{
    text-align: center;
    background-color: lightgray;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 400px;
    margin-right: 400px;
}

label{
    padding: 10px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button{
    color: white;
    font-size: larger;
    font-weight: bold;
    background-color: red;
    border:0px;
    padding:10px;
    padding-left:15px;
    padding-right:15px;
    border-radius: 15px;
}
